body{
  margin:0;
}
.animated-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.animated-circle::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  background: radial-gradient(circle at 50% 0%, transparent 0%, #506e62 50%, transparent 80%);
  animation: moveCircle 10s linear infinite; /* Adjust the animation duration */
}

@keyframes moveCircle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
